html {
  --primary-color: rgb(32, 126, 117); /* Definition der Hauptfarbe */
  --primary-color-light: rgb(158, 163, 22); /* Definition der helleren Hauptfarbe */
}

body {
  font-family: "Roboto", sans-serif; /* Festlegung der Schriftart für den gesamten Text im <body> */
}

/* Anpassung des benutzerdefinierten Scrollbalkens für die gesamte Webanwendung */
* {
  scrollbar-width: thin; /* Festlegung der Scrollbar-Breite auf dünn */
  scrollbar-color: var(--primary-color-light) transparent; /* Festlegung der Scrollbar-Farben */
}

/* Für WebKit-basierte Browser (Chrome, Safari, etc.) */
*::-webkit-scrollbar {
  width: 8px; /* Festlegung der Scrollbar-Breite für WebKit-Browser */
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Hintergrundfarbe des Scrollbar-Tracks in WebKit */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-light); /* Farbe des Scrollbar-Thumb in WebKit */
  border-radius: 4px; /* Abrundung des Scrollbar-Thumb in WebKit */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color); /* Farbe des Scrollbar-Thumb bei Hover in WebKit */
}

#messages {
  background-image: url("./img/gruen.png"); /* Hintergrundbild für das Element mit der ID "messages" */
}
